{%  extends './base.html' %}

{% block title %}Home Maratón{% endblock %}

{% block customCSS %}
	<link href="static/bootstrap.min.css" rel="stylesheet">
	<link href="static/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Maratón de programación</h1>
                <h3>
                    GRUPO: Nombre
                </h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                N
                            </th>
                            <th>
                                Integrante
                            </th>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Materia actual
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <td>
                                1
                            </td>
                            <td>
                                Name 1
                            </td>
                            <td>
                                Codigo 1
                            </td>
                            <td>
                                Materia 1 
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                2
                            </td>
                            <td>
                                Name 2
                            </td>
                            <td>
                                Code 3
                            </td>
                            <td>
                                Materia 2
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td>
                                3
                            </td>
                            <td>
                                Name 3
                            </td>
                            <td>
                                Code 3
                            </td>
                            <td>
                                Materia 3
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-md btn-info">
                            Button
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-info btn-md">
                            Button
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-info btn-md">
                            Button
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">h3. Lorem ipsum dolor sit amet.</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="jumbotron custom-jumbotron-1">
                            <h2>
                                Basica
                            </h2>
                            <p>
                                En esta fase, los participantes se sumergirán en los fundamentos de la programación. Se utilizarán lenguajes como Python o pseudocodigo para aprender sobre variables, operadores, estructuras de control y funciones. La atención se centrará en construir una base sólida para la programación.
							</p>
                            <p>
                                <a class="btn btn-primary btn-large" name="btn1" href="#">Inscribir</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron custom-jumbotron-2">
                            <h2>
                                Intermedio 
                            </h2>
                            <p>
                                Este nivel se centrará en la programación orientada a objetos, algoritmos más avanzados, y estructuras de datos más complejas. Los participantes adquirirán habilidades más avanzadas y aprenderán a resolver problemas de manera más eficiente.

                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" name="btn2" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron custom-jumbotron-3">
                            <h2>
                                Avanzada
                            </h2>
                            <p>
								En este nivel, se profundizará en conceptos más avanzados como la optimización, complejidad algorítmica, desarrollo de software escalable y desafíos del mundo real. Los participantes estarán preparados para enfrentar problemas de la vida real y diseñar soluciones eficientes.
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" name="btn3" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron custom-jumbotron-4">
                            <h2>
                                Profesional
                            </h2>
                            <p>
								Los participantes profundizarán en áreas específicas, como desarrollo web avanzado, inteligencia artificial, seguridad informática, o ciencia de datos. Se espera que adquieran conocimientos especializados y dominen herramientas avanzadas.
                            <p>
                                <a class="btn btn-primary btn-large" name="btn4" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
