body {
    background-color: black;
    color: white;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    overflow-x: hidden; /* Evita el deslizador lateral */
}