body {
    background-color: black;
    color: white;
}

.tablaEquipo {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.tablaEquipo th,
.tablaEquipo td {
    border: 1px solid white;
}