body {
    background-color: black;
    color: white;
}

h1{
    color: white;
}

div[name="Basica"] {
    background-color: lightseagreen; 
    color: #ffffff; 
}
div[name="Intermedia"] {
    background-color: rgb(89, 230, 89); 
    color: #ffffff; 
}
div[name="Avanzada"] {
    background-color: purple; 
    color: #ffffff; 
}
div[name="Profesional"] {
    background-color: rgb(217, 99, 56); 
    color: #ffffff; 
}

a[name="btnSalir"].btn-secondary {
    background-color: black; 
    color: #ffffff; /
    border-color: #ffffff; 
}

button[name="btnAdmin"] {
    float: right;
}   

a[name="btnBasica"].btn-primary {
    background-color: rgb(0, 132, 255) !important; 
    color: #ffffff; 
    border-color: blue; 
}
a[name="btnIntermedia"].btn-primary {
    background-color: rgb(9, 100, 9); 
    color: #ffffff; 
    border-color: green; 
}

a[name="btnAvanzada"].btn-primary {
    background-color: rgb(56, 1, 56); 
    color: #ffffff; 
    border-color: #8e44ad;
}

a[name="btnProfesional"].btn-primary {
    background-color: rgb(146, 41, 2); 
    color: #ffffff; 
    border-color: orangered;
}






.btn-custom {
    background-color: black;
    border: 1px solid white;
    color: white;
}




